<div class="left-sidebar">
    <h2>Danh Mục Sản Phẩm</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        
        

        
       <vc:categories></vc:categories>
       
    </div><!--/category-products-->
    <div class="panel-group category-products" id="accordian">
        <!--brands_products-->
        <h2>Thương Hiệu</h2>
        <vc:brands></vc:brands>
    </div><!--/category-products-->
   

   

</div>
